---
import { getCollection } from "astro:content";
import SkillBand from "./SkillBand.astro";
const allCvEntries = await getCollection("cv");

const currentEntries = allCvEntries.sort((a, b) => {
  return a.data.order > b.data.order ? 1 : -1;
});
---

<div class="cv-list cv-history active">
  {
    currentEntries.map((entry) => (
      <>
        <div class="cv-item">
          <img
            src={`https://directus.aaronczichon.de/assets/${entry.data.image.assetId}?w=150`}
            alt={entry.data.image.alt}
          />
        </div>
        <article class="cv-item">
          <h1>{entry.data.title}</h1>
          <h2>
            {entry.data.position}, {entry.data.timeframe}
          </h2>
          <h3>{entry.data.location}</h3>
          {entry.data.techSkills ? (
            <SkillBand
              skills={entry.data.techSkills}
              title="Technical skills"
            />
          ) : null}
          {entry.data.generalSkills ? (
            <SkillBand skills={entry.data.generalSkills} title="Skills" />
          ) : null}
        </article>
      </>
    ))
  }
</div>
