---
import { getCollection } from 'astro:content';
import Hero from '../../components/Hero.astro';
import PubDate from '../../components/PubDate.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const wordCount = entry.body.split(/\s+/).filter((word) => word !== '').length;
const averageWPM = 200; // Adjust according to your audience's reading speed
const readingTime = Math.ceil(wordCount / averageWPM);
---

<Layout
  title={"Aaron Czichon - Blog - " + entry.data.title}
  imgUrl={entry.data.image?.src || ""}
>
  {
    entry.data.image ? (
      entry.data.image.src ? (
        <Hero url={entry.data.image.src} alt={entry.data.image.alt} />
      ) : (
        <Hero image={entry.data.image.url} alt={entry.data.image.alt} />
      )
    ) : (
      ""
    )
  }
  <main class="container">
    <article class="blog-entry">
      <h1>{entry.data.title}</h1>
      <PubDate date={entry.data.pubDate}>
        | Reading time: {readingTime}min</PubDate
      >
      <Content />
    </article>
  </main>
</Layout>
<script is:inline>
  /**
   * Build linkable headings so they can be send as links if the article is large
   * and you want to share a specific section with some people.
   */
  const anchorHeadings = document.querySelectorAll("h2, h3, h4, h5, h6");
  [...anchorHeadings].forEach((heading) => {
    const anchor = document.createElement("a");
    anchor.href = `#${heading.id}`;
    anchor.style.textDecoration = "none";
    heading.parentNode.insertBefore(anchor, heading);

    anchor.appendChild(heading);
  });
</script>
