---
interface Props {
	title: string;
	imgUrl?: string;
}

const { title, imgUrl } = Astro.props;

import '../styles/index.css';
import '../styles/fonts/mona-sans.css';

import ColorSchemeToggle from '../components/ColorSchemeToggle.astro';
import MatomoTracking from '../components/MatomoTracking.astro';
import Nav from '../components/Nav.astro';
import { GLOBAL_CONFIG } from '../config';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Personal website of Aaron Czichon, Software & Web Engineer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- This is used to identify posts of this website are related to my mastodon account -->
    <meta name="fediverse:creator" content={GLOBAL_CONFIG.social.mastodon} />
    <link
      rel="icon"
      type="image/jpg"
      href="/assets/icons/refresh_squared.jpg"
    />
    <link
      rel="preload"
      href="/assets/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Aaron Czichon Blog - RSS Feed"
      href={`${Astro.site}rss.xml`}
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Aaron Czichon Notes - RSS Feed"
      href={`${Astro.site}/notes/rss.xml`}
    />
    {imgUrl ? <meta property="og:image" content={imgUrl} /> : ""}
    <title>{title}</title>
  </head>
  <body>
    <!-- <ColorSchemeToggle /> -->
    <Nav />
    <slot />
    <MatomoTracking />
  </body>
</html>
