---
import markdownit from 'markdown-it';
import { GLOBAL_CONFIG } from '../config';

const { item } = Astro.props;

const md: markdownit = markdownit();

const formattedDate = new Date(item.date).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
});
---

<li class="note-list-item">
  <article>
    <a href={`365pictures/${item.id}`} target="_blank">
      <h3 id={item.id}>{formattedDate}</h3>
    </a>
    <img src={`${GLOBAL_CONFIG.baseUrl}/assets/${item.image.id}?quality=80&width=800`} alt={item.image.description} />
    <p set:html={md.render(item.description)} />
    <hr />
  </article>
</li>