---
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/blog/*.mdx');

const dateOptions: object = {
	year: "numeric",
	month: "short",
	day: "numeric",
};

---

<Layout title="Aaron Czichon - Blog">
	<main class="container">
    <h1>Blog</h1>
    <p>
      Alle bisherigen Einträge findest du hier. <br />
    </p>
    <div class="entry-grid">
      {allPosts.map((post) => 
        <a href={post.url} class="entry">
        <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} />
        <h3>{post.frontmatter.title}<span class="entry--date">{new Date(post.frontmatter.pubDate).toLocaleDateString("en-CA", dateOptions)}</span></h3>
        <p>{post.frontmatter.description}</p>
        </a>
      )}
    </div>
  </main>
</Layout>