---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
const allPosts = await Astro.glob('../pages/blog/*.mdx');

const dateOptions: object = {
	year: "numeric",
	month: "short",
	day: "numeric",
};

const image = {
	url: '/assets/images/hero.jpeg',
	alt: 'Sample Image'
}
---

<Layout title="Canada - Working Holiday">
	<Hero url={image.url} alt={image.alt} />
	<main class="container">
		<article>
			<h1>Welcome to the adventure!</h1>
			We shake things up by moving from Germany to Canada for 12 months. By starting in Halifax, Nova Scotia in March 2024 we will travel through the country and explore the beauty of Canada.
			<br /><br />
			Our current route should include the first 2 months in Halifax, then we will travel to Newfoundland where we want to stay during the summer.
			<br /><br />
			After that we currently open for what's coming afterwards. Maybe driving from east coast to Montreal and Toronto. We definitly want to also go to the north which is why we want to go to Toronto. There you can do better domestic flights to e.g. Yellowknife.
			<br /><br />
			BUt let's see what the coming weeks and months will bring!
		</article>
		<h2>Latest posts</h2>
		<div class="entry-grid">
      {allPosts.map((post) => 
        <a href={post.url} class="entry">
        <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} />
        <h3>{post.frontmatter.title}<span class="entry--date">{new Date(post.frontmatter.pubDate).toLocaleDateString("en-CA", dateOptions)}</span></h3>
        <p>{post.frontmatter.description}</p>
        </a>
      )}
		</div>
	</main>
</Layout>