---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
const allPosts = await Astro.glob('../pages/blog/*.mdx');

const dateOptions: object = {
	year: "numeric",
	month: "short",
	day: "numeric",
};

const image = {
	url: '/assets/images/hero.jpeg',
	alt: 'Sample Image'
}
---

<Layout title="Canada - Working Holiday">
	<Hero url={image.url} alt={image.alt} />
	<main class="container">
		<article>
			<h1>Lasst das Abendteuer beginnen!</h1>
			12 Monate leben in Kanada. Ein Traum wahr werden lassen und du kannst mit dabei sein. Virtuell natürlich. Beginnend mit 2 Monaten in Halifax, Nova Scotia reisen wir durch das Land und erkunden das wunderbare und schöne Kanada.
			<br /><br />
			Unser aktueller Plan sieht die ersten 2 Monate in Halifax vor, danach wollen wir nach Neufundland reisen, wo wir den Sommer verbringen werden.
			<br /><br />
			Danach is bisher noch alles offen. Vielleicht fahren wir von der Ostküste nach Montreal und Toronto. Definitiv steht auch der Norden auf dem Plan, weshalb wir nach Toronto wollen. Von dort ausgehend
			sind Inlandsflüge nach z.B. Yellowknife besser zu bekommen.
			<br /><br />
			Aber lasst uns sehen, was die kommenden Wochen und Monate bringen werden!
		</article>
		<h2>Neusten Beiträge</h2>
		<div class="entry-grid">
      {allPosts.map((post) => 
        <a href={post.url} class="entry">
        <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} />
        <h3>{post.frontmatter.title}<span class="entry--date">{new Date(post.frontmatter.pubDate).toLocaleDateString("en-CA", dateOptions)}</span></h3>
        <p>{post.frontmatter.description}</p>
        </a>
      )}
		</div>
	</main>
</Layout>